<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aliyun.OSS.SDK" version="2.5.3" targetFramework="net462" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EntityFramework6.Npgsql" version="3.1.1" targetFramework="net462" />
  <package id="IronPython" version="2.7.7" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net462" />
  <package id="jQuery" version="3.1.1" targetFramework="net462" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="Npgsql" version="3.2.5" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net451" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net462" />
  <package id="RazorGenerator.Mvc" version="2.4.9" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net462" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net45" />
  <package id="Zen.Barcode.Core.Code128" version="3.1.0" targetFramework="net451" />
</packages>